:host {
    align-items: center;
    background-color: blue;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 80px;
}

:host.box.box--green {
    background-color: green;
}

strong {
    color: white;
    text-align: center;
}
