<div class="container">
  <div class="boxes boxes--source">
    <app-box
      *ngFor="let name of names; let idx = index"
      [name]="name"
      [draggable]="true"
      (dragstart)="onDragStart($event)"
    ></app-box>
  </div>

  <button class="reset-button" (click)="onClick()">Reset</button>

  <div
    class="boxes boxes--destination"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
  >
    <app-box
      *ngFor="let name of acceptedNames; let idx = index"
      [name]="name"
      [isAccepted]="true"
    ></app-box>
  </div>
</div>

